body {
    background-color: aquamarine;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.phrase {
    color:black;
    
}
.author {
    color: brown;

}

.footer {

}

